#clock {
  height: 50vh;
  width: 50vh;
  background: url(./image/clock.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  position: relative;
}

#hour {
  position: absolute;
  height: 23%;
  width: 3%;
  background-color: black;
  opacity: 0.85;
  top: 28%;
  left: 48.7%;
  transform-origin: bottom;

  border-radius: 50px;
  -webkit-border-radius: 50px;
}

#minute {
  position: absolute;
  height: 31%;
  width: 2%;
  background-color: black;
  opacity: 0.85;

  top: 20%;
  left: 49%;
  transform-origin: bottom;

  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#second {
  position: absolute;
  height: 42%;
  width: 1%;
  background-color: red;
  top: 9%;
  left: 49.1%;
  transform-origin: bottom;
  border-radius: 50px;
}

#circle {
  width: 9%;
  height: 4%;
  top: 49%;
  left: 48%;
  z-index: 2;
  color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer {
  background-color: dodgerblue;
  height: 5.9vh;
  width: 100vw;
  /* height: 6.3vh; */
  /* background-color:rgb(0, 51, 255) ; */
}
h4 {
  font-size: 15px;
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  /* background: url(./image/clock.png); */
  background-size: cover;
  -webkit-text-fill-color: yellow;
}

.clock {
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-size: cover;
  -webkit-text-fill-color: rgb(255, 0, 0);
}
#date {
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-size: cover;
  -webkit-text-fill-color: rgb(255, 234, 0);
}
#ctime {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-size: cover;
  -webkit-text-fill-color: rgb(0, 255, 8);
}

.fa-youtube{
  color: red;
}
.fa-square-whatsapp{
  color: green;
}
.fa-square-instagram{
  color: hotpink;
}
.fa-solid{
color: lightskyblue;
}
.contact{
  font-size: 25px;
}